<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<form>
    <div class="container" style="margin-top: 10%; width: 40%; border: 1px solid #999;">
        <div class="">
            <!-- Name input -->
            <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control" />
            <label class="form-label" for="form4Example1">Name</label>
            </div>

        
            <!-- Message input -->
            <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3">Message</label>
            </div>
        
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
        </div>    
    </div>
</form>


<%- include('layouts/footer.ejs') %>
