<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

    <!-- Start your project here-->
    


<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://www.nespresso.com/ecom/medias/sys_master/public/13630798528542/carafe-lifestyle.jpg"
          alt="Matcha iced latte slide" height="650" width="auto">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Coffee</h3>
        <p>Find An Espresso Machine To Fit Your Lifestyle. Flavor Varieties.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://www.davidstea.com/on/demandware.static/-/Sites/default/dw85b53673/images/2021/content-pages/matcha/Custom_Matcha_texture_Desktop.jpg"
          alt="coffee slide" height="650" width="auto">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Matcha</h3>
        <p>Create your own Iced Matcha Latte.</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://wallpaperaccess.com/full/1306048.jpg"
          alt="donut slide" height="650" width="auto">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Donuts</h3>
        <p>Strawberry baked vanilla donuts.</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!--table grid columns-->
<br></br>
<br></br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Begining of Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-72236.jpg"
            alt="Card image cap" width="210" height="250">
          <a href="#!">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Starbucks</h4>
          <!-- Text -->
          <p class="card-text">Order from your local Starbucks café and pick up a cup of your favorite coffee today. 
            Mobile Orders. Bakery. Iced Beverages.</p>
          <!-- Button -->
          <a href="https://www.starbucks.com/" class="btn btn-primary warm-flame-gradient">Explore</a>
        </div>
      </div>
      <!-- End of Card -->
    </div>

    <div class="col-md-4">
      <!-- Begining of Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://www.nespresso.com/shared_res/agility/n-components/pdp/recipes-v2/horizontal/coconut/2_XL.jpg"
            alt="Card image cap" width="210" height="250">
          <a href="#!">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Nespresso</h4>
          <!-- Text -->
          <p class="card-text">Discover A New Coffee Experience With A Variety Of Unique Blends You'll Love. Explore A 
            Wide Variety Of Espresso Blends.</p>
          <!-- Button -->
          <a href="https://www.nespresso.com/us/en/" class="btn btn-primary warm-flame-gradient">Explore</a>

        </div>

      </div>
      <!-- End of Card -->
    </div>

    <div class="col-md-4">
      <!-- Begining of Card -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_673,q_75,w_977/https://assets.simpleviewinc.com/simpleview/image/upload/crm/sugarland/Zero-Degrees-by-the-Owner---Smoothies-5e251cdc5056a36_5e251dfb-5056-a36a-0b5f0bf615f1a664.jpg"
            alt="Card image cap" width="210" height="250">
          <a href="#!">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title">Zero Degrees</h4>
          <!-- Text -->
          <p class="card-text">Zero Degrees is an Asian-Hispanic inspired chain that specializes in signature smoothies, 
            coffee & tea, hot snacks and more!</p>
          <!-- Button -->
          <a href="https://www.zerodegreescompany.com/" class="btn btn-primary warm-flame-gradient">Explore</a>
        </div>
      </div>
      <!-- End of Card --></div>
  </div>
</div>
<!--end of table grid-->
<br>
<br>
<br>
    <!-- End your project here-->
    <%- include('layouts/footer.ejs') %>