<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

  <div class="container mt-5">


    <!--Section: Content-->
               <section class="text-justify">
                 <h1>Puff Pastry Recipe</h1>
                <p class="font-weight-bold">Flaky and buttery, this homemade Puff Pastry is 
                  shockingly easy to make. Made with only five simple ingredients, you can have a
                   high-quality, melt-in-your-mouth puff pastry in no time.</p>
           
                     <p>Puff pastry, also known as pâte feuilletée, is a flakey pastry made by laminating dough. Frozen sheets of puff pastry are easy to pick up at the store, but after trying this quick homemade puff pastry recipe, you’re never going to want to go back to store-bought. While it does take a little bit of elbow grease, homemade puff pastry just cannot be beaten. Thanks to the quality of ingredients used, you can really taste the difference when you make puff pastry from scratch.</p>
           
                     <figure class="figure">
                       <img src="https://preppykitchen.com/wp-content/uploads/2021/05/Puff-Pastry-Blog-1.jpg" class="figure-img img-fluid z-depth-1"
                         alt="pastry" width="300">
                       <figcaption class="figure-caption">Puff pastries.</figcaption>
                     </figure>
        
                     <hr>
           
                     <p class="my-4 font-weight-bold">Ingredients</p>
           
                     <p>Place butter in the freezer for 10 minutes.
                      In a large mixing bowl, whisk together flour, sugar, and salt.
                      Grate the frozen butter into the flour. (Dice the remaining end of butter that you can’t grate.) Toss the butter into the flour mixture with your hands until well coated.
                      Drizzle 6 tablespoons of water over the mixture and fold the mixture together until it clumps together. Continue adding water a tablespoon at a time until a loose and crumble dough forms. (It should hold when squeezed.)
                      Gently knead the dough a few times in the bowl until a cohesive mass is formed. Shape into a ½-inch thick square and wrap tightly in plastic wrap. Chill for 1 hour.
                      On a lightly floured surface, roll the chilled dough into a 1/2-inch-thick rectangle. Fold the dough in thirds like a letter. Turn 90 degrees. Repeat rolling, folding, and rotating 3 more times.
                      Fold back into thirds, wrap tightly, then chill for at least 2 hours or up to 2 days, or placed in a freezer bag and freeze for up to 2 months.</p>
           
                     <ul>
                       <li>1 cup unsalted butter cold (227g)
                    </li>
                       <li>2 cups all-purpose flour (240g)</li>
                       <li>1 Tbsp sugar (12g)</li>
                       <li>1/2 tsp kosher salt (2g)</li>
                       <li>8-10 Tbsp cold water (120-150 mL)</li>
                     </ul>
           
                    
           
               </section>
               <!--Section: Content-->
 
 
   </div>
 

    <!-- End your project here-->
<%- include('layouts/footer.ejs') %>